
  
<div class="text-center">
{{ greeting }}
</div>


<div class='block'>
  <div class="centered">
    <form ng-submit='getInput()' ng-show='showForm'>
    <input autofocus/ class="col-md-6 col-md-offset-3"
        ng-model='url' type="text" 
        placeholder="enter a url for page link visualization" 
        ng-submit='getInput()'>
    </form>
  </div>
</div>


<div node-connections data='sourcedata'></div>


<div>
  <p>
    <button popover="I appeared on mouse enter!" popover-trigger="mouseenter" class="btn btn-default">Mouseenter</button>
  </p>
</div>

