html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: Josefin Sans;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

a { 
  color:#222; 
  text-decoration: none; 
}

a:visited { 
  color:#222; 
}

a:active { 
  color:#222;
  position: relative;
  top: 1px;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'Varela Round', sans-serif;
  background: url('/images/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 17px;
  color: #666;
  width: 100%;
  margin: auto;
}

nav {
  position: fixed;
  top: 2px;
  right: 2px;
}

nav.nav li {
  float: right;
  display: inline;
  list-style: none;
  margin-right: 20px;
}

nav.nav li a {
  transition: all .2s ease;
  padding: 5px;
}

nav.nav li a:hover {
  text-shadow: none;
  border-bottom: 2px dotted #fff;
  color: #fff;
}

nav.nav li a:active {
  border: none;
}

ul.links {
  padding: 20px 0px;
}

#logo {
  outline: none;
  border: none;
  transition: all .2s ease;
  text-indent: -9999px;
  display: block;
  width: 211px;
  height: 211px;
  background: url('/images/logo.png') no-repeat;
  margin: 150px auto 60px auto;
}

#logo:hover {
 background: url('/images/logo-hover.png') no-repeat; 
}

#logo:active {
  position: relative;
  top: 1px;
  background: url('/images/logo-active.png') no-repeat; 
}

.searchbox {
  background: rgba(0,0,0,.1);
  width: 35%;
  position: relative;
  display: block;
  outline: none;
  border: none;
  border-radius: 3px;
  margin: 0 auto;
  padding: 20px 25px;
  font-size: 18px;
  color: #444;
  text-align: center;
  box-shadow: 0px 1px 0px 0px rgba(255,255,255,.75),
              inset 0px 1px 2px 0 rgba(0,0,0,.75);
}

.waiting {
  padding: 40px;
}

.reset, .tooltip {
  background: rgba(0,0,0,0);
  border: 2px solid #222;
  transition: all .2s ease;
  padding: 20px;
  position: fixed;
  border-radius: 5px;
  color: white;
  outline: none;
}

.tooltip span {
  color: #222;
}

.tooltip {
  top: 30px;
  left: 30px;
}

.reset {
  color: #222;
  right: 20px;
  bottom: 20px;
}

.reset:hover {
  border-color: #fff;
  color: #fff;
}

/*** d3 styling ***************/
.node-link {
  stroke: rgba(0,0,0,.15);
}

.node-group text {
  fill: #333;
  pointer-events: none;
}

text.label {
  /*fill: #363F7A;*/
}

circle {
  fill: #ccc;
  /*stroke: #333;*/
  stroke-width: 1.5px;
}

title {
  fill: #B4B8D4;
}

.effect1{
/* l r b t */
/*  -webkit-box-shadow: 3px 10px 6px -10px #222;
     -moz-box-shadow: 3px 10px 6px -10px #222;*/
          box-shadow: 3px 3px 5px #222;
}

.site-info {
  padding: 30px;
  width: 700px;
  height: 200px;
  margin: 50px 30px;
}

.site-info p, .site-info a{
  margin-left: 20px;
  font-size: 16px;
}

h1 {
  text-shadow: 0px 1px rgba(255,255,255,.3);
  color: #252525;
  font-size: 40px;
  margin-bottom: 30px;
}

p {
  color: #2B101E;
  line-height: 1.6;
}

