body {
  background-color: #7A89A3;
  font-size: 20px;
}

.slateblue {
  background-color: #2C4269;
}


#wikiviz-search{
  padding-top: 200px
}
/* This parent can be any width and height */
.block {
  text-align: center;
  height: 200px;
}
 
/* The ghost, nudged to maintain perfect centering */
.block:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
}

/* The element to be centered, can
   also be of any width and height */ 
.centered {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}

::-webkit-input-placeholder {
   text-align:center;
}



/*** Override bootsrap styling ***************/
.nav, .pagination, .carousel, .panel-title a {
 cursor: pointer; 
}

.navbar-default {
  background-color: #2C4269;
  border-color: #1C2D4A;
}

.navbar-default .navbar-brand {
  color: #BFBFBF;
  font-size: 24px;
}

.navbar-default .navbar-nav > li > a {
  color: #BFBFBF
}



/*** d3 styling ***************/
.node-link {
  stroke:  #000000;
}

.node-group text {
  pointer-events: none;
  font: 14px sans-serif;
}

text.label {
  /*fill: #363F7A;*/
}

circle {
  fill: #ccc;
  /*stroke: #333;*/
  stroke-width: 1.5px;
}

title {
  fill: #B4B8D4;
}

.namefont {
  font: bold 48px monospace;
}

.font1 {
  font: bold 54px monospace;
}

.font2 {
  font: bold 48px monospace;
}
.enter {
  fill: green;
}

.update {
  fill: #333;
}

.exit {
  fill: brown;
}

div.d3tooltip { 
    position: absolute;     
    text-align: center;     
    width: 300px;          
    height: 300px;         
    padding: 8px;       
    font: 18px sans-serif;    
    background: -webkit-linear-gradient(top, #7A89A3 0%,#fff 30%);
    color: white;
    border: 3px; /* solid #2C4269 ;*/
    border-radius: 8px;     
    pointer-events: none;     
}

.effect1{
/* l r b t */
/*  -webkit-box-shadow: 3px 10px 6px -10px #777;
     -moz-box-shadow: 3px 10px 6px -10px #777;*/
          box-shadow: 3px 3px 5px #777;
}
