<div class="site-info">
  <div class="page-header">
    <h1>The Wiki Viz Project</h1>
  </div>

<p>
  WikiViz is a visualization tool, showing the interconnection in datasets.  The demostrated use case takes a given wikipedia url as input and displays the urls found within that url, weighting the importance of the children urls.
</p>
<p>
  Clicking (dragging) a node will generate a new cloud.
  <br></br>
  <p>Find out more</p>
  <ul>
    <li>
        <a target="_blank" href="http://en.wikipedia.org/wiki/Six_degrees_of_separation">Six Degrees of Separation</a>
    </li>
    <li>
      <a target="_blank" href="http://en.wikipedia.org/wiki/Semantics">Semantics</a>
    </li>
     <a target="_blank" href="http://en.wikipedia.org/wiki/Creativity">Creativity and Brainstorming</a>
    <li>
  </ul>



</div>
