<div class="site-info">
  <div class="page-header">
    <h1>The Wiki Viz Project</h1>
  </div>

<p> 
  WikiViz displays related subject matter, given a wikipedia url as input. 
</p>
<p>
  Clicking (dragging) a node will generate a new cloud.
  <br></br>
  <a target="_blank" href="http://en.wikipedia.org/wiki/Six_degrees_of_separation">-Six Degrees of Separation</a><p></p>
  <a target="_blank" href="http://en.wikipedia.org/wiki/Semantics">-Semantics</a><p></p>
  <a target="_blank" href="http://en.wikipedia.org/wiki/Creativity">-Creativity and Brainstorming</a><p></p>
</p>

</div>
