


<div id="wikiviz-search" ng-show='showForm'> 
  <form name='wikivizsearch' ng-submit='getInput()' novalidate>
    <!-- <input autofocus/ class="col-md-6 col-md-offset-3 center-block" -->
    <input autofocus/ class=" center-block"
        ng-model='url' type="text" 
        placeholder="for testing: enter a number ">
  </form>
</div>

  <div ng-show='showWait' class=" center-block">
    Waiting for data to load...
  </div>

<div ng-show='showVis'>
  <div node-connections data='sourcedata'></div>
  <button ng-click='reset()'
    type="button" class="btn btn-primary center-block slateblue"> 
    Reset 
  </button>
</div>

<div>
  <ng-repeat="link in sourcedata.links" {{ link.source }}>
</div>
<!-- <div>
  want to display link info
  {{ sourcedata.links}}
  </div> -->


<!-- <div>
  <svg 
    width="120" height="120" 
     viewPort="0 0 120 120" version="1.1"
     xmlns="http://www.w3.org/2000/svg">

    <circle cx="60" cy="60" r="50" class="effect1" />
  </svg>
  
 <svg width="120" height="120"
 xmlns="http://www.w3.org/2000/svg"
 xmlns:xlink="http://www.w3.org/1999/xlink">

  <filter id="dropShadow">
    <feGaussianBlur in="SourceAlpha" stdDeviation="3" />
    <feOffset dx="2" dy="4" />
    <feMerge>
        <feMergeNode />
        <feMergeNode in="SourceGraphic" />
    </feMerge>
  </filter>

  <circle cx="60"  cy="60" r="50" fill="green"
          filter="url(#dropShadow)" />
</svg>
</div> 
 -->

