<div id="wikiviz-search" ng-show='showForm'>
 
  <form name='wikivizsearch' ng-submit='getInput()' novalidate>
   <input type="submit" id="logo" value="">
   <input autofocus/ class="searchbox"
        ng-model='url' type="text" 
        placeholder=" enter a wikipedia url ex: http://en.wikipedia.org/wiki/Math ">
  </form>
</div>

  <div ng-show='showWait' class="waiting">
    <p>Loading data ...</p>
  <!--   <img id="loadImg" src="http://maps.nrel.gov/sites/all/modules/custom_modules/hydra/assets/images/loading_bar.gif" style="margin:auto;position:relative;height:60px;width:auto;float:top">;
 -->  </div>

<div ng-show='showVis'>
  <div node-connections data='sourcedata'></div>
  <button ng-click='reset()'
    type="button" class="reset"> 
    RESET 
  </button>
</div>

<!-- <div>
  <ul>
    <li class='smalltext' ng-repeat="link in sourcedata.links" >
      {{ link.source }}
      <br>
      {{link.target}}
    </li>
  </ul>
</div> -->


