body {
  background-color: #7A89A3;
  margin: 0;
  font-family: arial, sans-serif;
}

a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
}

h1 {
  font-style: italic;
  /*margin-bottom: 10px;*/
}

.navigation {
  width: 100%;
  height: 50px;
  background-color: #2C4269;
}


.navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;

}

.navigation li {
  float: left;
}

.navigation #viztitle {
  width: 300px;
  height: 20px;
  line-height: 20px;
  padding: 10px;
  padding-top: 15px;
  display: block;
  text-align: center;
  font-size: 24px;
  color: #7A89A3;
}

.navigation li a {
  width: 100px;
  height: 50px;
  line-height: 20px;
  padding-left: 10px;
  padding-top: 15px;
  display: block;
  text-align: center;
  font-size: 20px;
  color: #7A89A3;
}

.navigation li a:hover {
  background-color: #ddd;
}

.navigation li a.selected {
  background-color: #ccc;
}

#container {
  clear: both;
  margin-top: 10px;
}

#linksContainer {
  background-color: #eee;
}

.userInput {
  padding-top: 100px;
}

.link {
  clear: both;
  margin-bottom: 5px;
  padding: 5px;
  min-height: 50px;
}

.link:hover {
  background-color: #efe;
}

.link img {
  float: left;
  margin: 0 5px;
}

.link .visits {
  float: right;
  margin-right: 10px;
  margin-left: 20px;
}

.link .visits .count {
  font-size: 46px;
  font-weight: 600;
}

.link .title {
  font-weight: 600;
}

.link .original {
  color: #aaa;
  font-size: 12px;
}

.link .info {
  margin-left: 55px;
}

form {
  margin: 10px;
}

form input[type=text] {
  width: 360px;
  display: block;
  font-size: 13px;
  padding: 5px;
  margin-bottom: 5px;
}

form input[name=username], form input[name=email], form input[name=password]  {
  width: 150;
  height: 25px;
  padding: 5px;
  margin-bottom: 5px;
  display: block;
}

/*form input[name=password] {
  width: 150;
  height: 25px;
  padding: 5px;
  margin-bottom: 5px;
  display: block;
}*/


.error {
  background-color: #fee;
  color: #a33;
  padding: 10px;
  margin: 0 10px;
}

.creator {
  height: 50px;
}

.creator form {
  float: left;
  height: 80px;
}

.creator img.spinner {
  height: 46px;
  margin-bottom: 5px;
  padding: 10px;
  display: none;
}

.creator .message {
  clear: both;
}

#logoutButton {
  float: right;
}

/*d3 styling*/
.nodelink {
  stroke:  #000000;
}

.node text {
  pointer-events: none;
  font: 14px sans-serif;
}

text.label {
  fill: #363F7A;
}

circle {
  fill: #ccc;
  stroke: #333;
  stroke-width: 1.5px;
}

title {
  fill: #B4B8D4;

}
